@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background.png");
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/background.png");
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  color: #ededed;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-position: center;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-before::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.underline-before:hover::before {
  width: 100%;
  background-color: rgb(194, 233, 23);
}

.overflowNav {
  overflow: hidden !important;
}
